<div class="auth-wrap">
  <div class="a-content-wrap">
	  <div class="a-content animated fadeIn">
	  	<div class="a-logo">
	  		<img src="images/logo/built-io-logo.png" alt="" />
	  	</div>
	  	<div class="a-desc">
	  		{{$root.productName}} and application development platform lets you build apps quickly using the tools you already know for iOS, Android and JavaScript. We power the entire backend (servers, cloud infrastructure, database, scaling), saving you months and allowing you to focus on creating a killer user experience.
	  	</div>
	  	<div class="button-wrap">
	  		<a class="btn btn-primary btn-lg btn-learn-more" target="_blank" href="https://www.built.io/products/backend/overview">LEARN MORE</a>
	  	</div>
	  </div>
  </div>
  <div class="a-view-wrap">
    <div ui-view class="a-view"></div>
  </div>
</div>