<div class="auth-box-wrap animated fadeInDown">
  <div class="auth-box login-box">
    <div class="ab-header">
      <i class="fa fa-lock"></i> Password Retrieval
    </div>
    <div class="ab-body">
      <form id="forgot-password-form" ng-submit="sendRequest()" name="passwordRetrievalForm" class="" role="form" method="POST" action="" autocomplete="off">
        
        <p class="mb20">Password reset instructions will be sent if the email address exists in our records.</p>
        <label class="no-placeholder">Email address</label>
        <input class="form-control last" placeholder="email address" type="email" name="email" ng-model="data.email" required focus-on-input>
        
        <div ng-if="allowCaptcha" class="g-recaptcha" vc-recaptcha key="recaptcha.key" type="'image'" on-create="setRecaptchaId(widgetId)"></div>

        <button type="submit" class="btn btn-primary btn-submit btn-block" data-loading-text="Sending request...">
          Send request
        </button>
      </form>
    </div>
    <div class="ab-footer">
      <p>
        <a href="#/signin">Return to Log in</a>
      </p>
    </div>
  </div>
</div>