<div class="auth-box-wrap animated fadeInDown">
    <div class="auth-box login-box">
        <div class="ab-header">
            <i class="fa fa-lock"></i> Reset your password
        </div>
         <div class="ab-body">
            <form id="reset-form" ng-submit="resetPswd()" name="resetForm" class="form-signin client-form" role="form" method="POST" action="" autocomplete="off">
              <div class="password-section">
                <input class="form-control password-input-field pwd-fields" required type="password" name="password" placeholder="password" id="password" ng-model="userCredential.password" tabindex="0"  data-trigger="focus" data-container="body" data-toggle="popover" data-placement="top" title="Password strength" data-content="<b>Password must contain:</b> <br><i class='fa capital'></i> At least 1 lowercase & 1 uppercase letter <br><i class='fa num'></i> Atleast 1 digit <br><i class='fa length'></i> Atleast 8 characters and max 16 characters <br><i class='fa spchar'></i> Atleast one special character">               
              </div>
              <div class="passstrength-meter-wrapper">
                <span class="passwordometer-text" data-password-strength-weak="Weak" data-password-strength-medium="Medium" data-password-strength-okay="OK" data-password-strength-good="Good">
              </div>
              <input class="form-control last confirm-password pwd-fields" placeholder="Confirm password" type="password" name="password" ng-model="userCredential.password_confirmation" required>
               <div class="vcRecaptcha"  ng-if="allowCaptcha">
                <div class="g-recaptcha" vc-recaptcha key="recaptcha.key" on-create="setRecaptchaId(widgetId)"></div>                  
               </div>

               <button type="submit" class="btn btn-primary btn-submit btn-block reset-password-btn" data-loading-text="Resetting...">
                Reset
               </button>
            </form>
        </div>
        <div class="ab-footer">
          <p ng-if="!resReg && !isAppUser">
            <a href="#/signin">Log in</a> to your built.io account
          </p>
        </div>
    </div>
</div>