<div class="auth-box-wrap animated fadeInDown">
  <div class="auth-box login-box">
    <div class="ab-header">
      <i class="fa fa-lock"></i> Reset your password
    </div>
    <div class="ab-body">
      <form id="reset-form" ng-submit="resetPswd()" name="resetForm" class="" role="form" method="POST" action="" autocomplete="off">
        
        <input class="form-control" placeholder="New password" type="password" name="password" ng-model="userCredential.password" required focus-on-input>
        <input class="form-control last" placeholder="Confirm password" type="password" name="password" ng-model="userCredential.password_confirmation" required>

        <button type="submit" class="btn btn-primary btn-submit btn-block" data-loading-text="Resetting...">
          Reset
        </button>
      </form>
    </div>
    <div class="ab-footer">
      <p ng-if="!resReg">
        <a href="#/signin">Log in</a> to your built.io account
      </p>
    </div>
  </div>
</div>